.header{
    height: 100px;
    background-color: aquamarine;
}
.section_left{
    height: 500px;
    width: 30%;
    background-color: bisque;
}
.section_right{
    height: 500px;
    width: 70%;
    background-color: skyblue;
}

.footer{
    height: 100px;
    background-color: greenyellow;
    clear: both;
}

.left{
    float: left;
}