.box {
    background-color: aquamarine;
    width: 100px;
    height: 100px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    /* margin-left: auto;
    margin-right: auto; */

    /* display: inline; */
}

.box2{
    background-color: aquamarine;
    width: 100px;
    height: 100px;
}

.box3{
    background-color: aquamarine;
    width: 100px;
    height: 100px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    line-height: 100px;
}

#txt{
    line-height: inherit;
}

.ptest {
    background-color: aquamarine;
    width: 100px;
    height: 100px;
    margin-top: 10px;
}

.sticky{
    position: sticky;
    top: 20px;
    background-color: orange;
}